<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="http://127.0.0.1:8000/user/addAnnouncement/" method="post">
    title:<input  title="title" name="title">
    content:<input  title="content" name="content">
    images:<input  title="images" name="images">
    video:<input  title="video" name="video">

    <input type="submit" value="Submit" />
</form>
<form action="http://127.0.0.1:8000/user/getAnnouncement/" method="get">
    <input type="submit" value="获取通告" />
</form>
</body>
</html>