<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>test</title>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app3" style="height: 95vh;">
    <h1>code</h1>
    <!--    todo todo-->
    <el-tabs :tab-position="tabPosition" value="3" style="height: 100%">
        <el-tab-pane label="总章">
<pre>
    <h1>总章 | 希洛 | 根节点</h1>
    map-reduce(单一职能,sort)(手动增加的map-reduce,类似docker层,指令);
    对比差异(类似游戏高辨识度)(排序),
    生成表, email date time 保存 (字段,保存配置,)
    继承, 复制配置
    常见字段,自动翻译,
    导出, 数据库,  日志
    项目数据迁移(学历,自动输入), 操作(hub, 标准hub, 推荐hub, 负责的hub, 自定义的hub, 指定的,搜索的,)
    group path 与 嵌套对象 继承
    构建全部的,所有的表直接展示所有数据,(服务器生成解析yaml), 二维,一维, 模型展现,调整模型(权重)
    数据可以任意来源(从文件,从业务字段,从数据库),
    代码自动提示选项,并且记住(某个策略,多个策略,一切都是list(单个,set, 0 -- null -- 空串), 指定单个,枚举)
        数据(入参)->策略(函数)-下一步
        eg: 平替策略:
                翻译策略- 百度翻译,谷歌翻译,自定义翻译
                取一个:择优策略(减分支(类似机器学习))
                取全部:多个分支,多个结果
                对比结果策略
            非平替??

    swagger(查询(VO),修改(考虑权限,不能直接用PO),返回)
        入参
        出参
</pre>
        </el-tab-pane>
        <el-tab-pane label="业务模型字段">
            <textarea v-model="originFlow.args" rows="10" autocomplete="on" style="width: 100%">
            </textarea>
        </el-tab-pane>
        <el-tab-pane label="中英翻译">
            <h2>翻译</h2>
            <h5>业务模型字段->历史数据自动输入 | 自动翻译</h5>
            <div class="main" style="display: flex">
                <div class="args"> 翻译.args: {{ fanyiFlow.args }}</div>
                <div class="result">
                    翻译.结果:
                </div>
            </div>
        </el-tab-pane>
        <el-tab-pane label="生成表">
            <div>
                <h2> 字段->生成表</h2>
                <el-table :data="tableData">
                    <el-table-column prop="column_name" label="数据类型">
                        <template slot-scope="scope">
                            <el-input v-model="scope.row.data_type"></el-input>
                        </template>
                    </el-table-column>
                    <el-table-column prop="column_name" label="列名">
                        <template slot-scope="scope">
                            <el-input v-model="scope.row.column_name"></el-input>
                        </template>
                    </el-table-column>
                    <el-table-column prop="column_name" label="可为空(DB)|必需">
                        <template slot-scope="scope">
                            <el-input v-model="scope.row.nullable"></el-input>
                        </template>
                    </el-table-column>
                    <el-table-column prop="column_name" label="字段注释">
                        <template slot-scope="scope">
                            <el-input v-model="scope.row.column_comment"></el-input>
                        </template>
                    </el-table-column>
                    <el-table-column prop="column_name" label="示例">
                        <template slot-scope="scope">
                            <el-input v-model="scope.row.example"></el-input>
                        </template>
                    </el-table-column>
                    <el-table-column prop="column_name" label="取值范围(正则)长度">
                        <template slot-scope="scope">
                            <el-input v-model="scope.row.regx"></el-input>
                        </template>
                    </el-table-column>
                    <el-table-column prop="column_name" label="顺序">
                        <template slot-scope="scope">
                            <el-input v-model="scope.row.list_order"></el-input>
                        </template>
                    </el-table-column>
                    <el-table-column prop="column_name" label="path(uid)">
                        <template slot-scope="scope">
                            <el-input v-model="scope.row.uid"></el-input>
                        </template>
                    </el-table-column>
                    <el-table-column prop="column_name" label="查询方式(list)"></el-table-column>
                    <el-table-column prop="column_name" label="更新方式(list)"></el-table-column>
                    <el-table-column prop="column_name" label="返回方式(list)"></el-table-column>
                </el-table>
            </div>
        </el-tab-pane>
        <el-tab-pane label="模板生成">
            <div>
                模板
                <textarea v-model="template" rows="10" autocomplete="on" style="width: 100%">
                </textarea>
            </div>
            <div>
                <div>
                    查询(VO)->返回 ->swagger -> 查询业务逻辑->权限-> 精确查询,区间查询(数字,int.. 时间), 模糊匹配(like), 枚举查询(in,list),
                    关联查询(join-todo)
                </div>
                <div>返回 ->swagger -> 采用PO的字段精确映射</div>
            </div>
            <div>js模型</div>
            <div>压力测试</div>
            <div>读取本地文件(java,python,yaml,json)->解析处理->生成本地文件</div>
            <div>输出台</div>
            <el-button @click="drawer = true" type="primary" style="margin-left: 16px;">
                点我打开
            </el-button>
        </el-tab-pane>
    </el-tabs>
    <el-drawer title="tree" :visible.sync="drawer" :direction="direction">
        <el-tree>
        </el-tree>
    </el-drawer>
</div>
<script src="https://unpkg.com/art-template/lib/template-web.js"></script>
<script>
    new Vue(
        {
            el: '#app3',
            data: {
                direction: "right",
                drawer: false,
                tabPosition: "left",
                originFlow: {
                    args: "客户姓名,客户来源"
                },
                fanyiFlow: {
                    args: "客户姓名,客户来源"
                },
                template: [],
                tableData: [{"column_name": 1}],
            },
            methods: {
                init() {
                },
            },
            created() {
                this.init()
            }
        }
    );
</script>
</body>
<style>
</style>
</html>
