/*todo 文档总样式*/
/*  <!--设置,布局,字体,伸缩,flex,float  -->*/
.art_title {
    font-size: 2.0rem;
    font-weight: bold;
    color: blue;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
}

.title {
    text-align: center;
}

.title2 {
    font-size: 3rem;
    color: black;
}

.block {
    margin: 1.6rem;
}

.index {

}

.p_c_space {
    margin-right: 1.6rem;
}

.p_c_para {
    width: 100%;
    rows: "10"
}

.target {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    padding: 1.6rem;
    border-radius: 1rem;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.art_body {
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    font-size: 1.6rem;
}

.art_note {
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    color: #72727f;
    font-size: 1.6rem;
}

.p_c_line-height {
    line-height: 1.5;
}

.p_c_box-shadow {
    border-radius: 1rem;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
}

.p_c_box_padding {
    padding: 0.8rem;
}

.p_c_box_margin {
    margin: 0.8rem;
}

.p_c_long_txt_hidden {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-width: 0;
}

.p_c_word-break {
    white-space: normal;
    word-break: break-all;
    overflow: hidden;
}