/*废弃？？ 样式太多*/
.title {
    text-align: center;
}

.block {
    margin: 1.6rem;
}

.p_c_space {
    margin-right: 1.6rem;
}

.p_c_para {
    width: 100%;
    rows: "10"
}

.p_c_long_txt_hidden {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-width: 0;
}
