<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="http://127.0.0.1:8888/user/addAnnouncement/" method="post">
    title:<input name="title" title="title">
    content:<input name="content" title="content">
    images:<input name="images" title="images">
    video:<input name="video" title="video">

    <input type="submit" value="Submit"/>
</form>
<form action="http://127.0.0.1:8888/user/getAnnouncement/" method="get">
    <input type="submit" value="获取通告"/>
</form>
</body>
</html>