<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Root</title>
    <script type="application/javascript">
        <!--        全局变量    -->
        token = null
    </script>
</head>
<body>
<h1> this is Root; id: 2</h1>
用户名：<input id="username" type="text" value="root">
密码：<input id="password" type="text" value="123456">
验证码：<input id="code" type="text" value="zero">
<button id="login_button" onclick="login()">登录</button>
<h1> blog </h1>
<h3> add </h3>
内容：<input id="to_user" type="text" value="今天晴,心情不错">
<button id="add_blog_button" onclick="add_blog()">发表博客</button>
<h3> get </h3>
<button id="get_blog_list_button" onclick="get_blog()">查看博客</button>

<div id="chat_list">
</div>
</body>
<script type="application/javascript">
    function get_code() {
        console.log("get_code")
    }

    function login() {
        console.log("login")

    }

    function add_blog() {
        console.log("add_blog")

    }
    function get_blog() {
        console.log("get_blog")

    }

</script>
