* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Lucida Sans", sans-serif;
}


div {
    display: flex;
}


img, video {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.p_c_HolyGrail-body {
    display: flex;
    flex-direction: column;
    flex: 1;
}
/*工具*/
.p_c_test_border {
    border: red solid 1px;
}
